@charset "utf-8";


#product {
    margin-top: 100px;
    overflow: hidden;
}

.product_wrap {
    margin: 0 auto;
    max-width: 1400px;
    padding: 50px 60px 200px;
}

.product_items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    /* align-items: flex-start; */
    background-color: #ffffff;
    animation: fade_in 1.5s forwards ease;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.product_item {
    position: relative;
    box-sizing: border-box;
    margin: 50px 5px 50px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px  #a3a3a351;
    transition: all .5s;
}

.product_item:hover {
    transform: translate(-5px, -5px);
    opacity: .7;
}

.pro_link {
    position: absolute; 
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.product_thumbnail {
    /* width: 100%; */
    background-size: cover;
    overflow: hidden;
}

.product_thumbnail_img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: all .5s;
}

.product_item:hover .product_thumbnail_img {
    transform: scale(1.03);
}

.product_info {
    display: block;
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.product_info_name {
    font-size: 1.25rem;
}

.product_info_price {
    font-size: 1rem;
}
