@charset "utf-8";

html {
    font-size: 14px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #d1cdcd;
}

li {
    list-style: none;
}

a {
    color: #d1cdcd;
    text-decoration: none;
}






/* header **************************************************/

header {
    position: relative;
    height: 100vh;
    background-image: url(../img/bg_img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 1px;
}

.header_nav {
    display: flex;
    width: 80%;
    margin: 5vh auto 0;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 150px;
    background-color: #001d7e;
    border-radius: 50%;
    cursor: pointer;
}

.logo:hover {
    background-color: #454f72;
    transition: .7s;
}


.main_nav {
    display: flex;
    margin: 0;
    padding: 0;
}

.main_nav > li {
    margin-left: 50px;
    position: relative;
}

.main_nav_item {
    width: 7vw;
    height: 7vh;
    text-align: center;
    margin-top: 20%;
}

.main_nav_item > a {
    display: block;
    font-size: 2rem;
    background-color: #363636;
    width: 7vw;
    height: 7vh;
    line-height: 7vh;
    border-radius: 5px;
}

.main_nav_item > a:hover {
    background-color: darkgray;
    transition: .7s;
}

.cp {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #001d7e;
    font-size: 2.5rem;
}

.cp > h1 {
    white-space: nowrap;
}






/* main ******************************************************/

.main_content {
    padding: 50vh 0;
}

.main_content:nth-child(1) {
    background-color: #f5f5f5;
}
.main_content:nth-child(2) {
    background-color: #ffffff;
}
.main_content:nth-child(3) {
    background-color: #f5f5f5;
}

.main_content > div {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    color: black;
}


/* about ******************************************************/




