@charset "utf-8";

html {
    font-size: 14px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #554040;
}

li {
    list-style: none;
}

a {
    color: #554040;
    text-decoration: none;
}

.container {
    background-color: #f5f5f5;
}






/**************************************************
header 
**************************************************/

header {
    position: relative;
    height: 100vh;
    /* background-image: url(../img/bg_img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover; */
    padding-top: 1px;
    background-color: #fcf8fc;
    box-shadow: 0px 10px 10px -5px #b6b6b633;
}

.header_nav {
    display: flex;
    width: 80%;
    margin: 5vh auto 0;
    justify-content: space-between;
}

.header_logo {
    width: 150px;
    height: 150px;
    background-color: #a5a5a5;
    border-radius: 50%;
    cursor: pointer;
}

.header_logo:hover {
    background-color: #454f72;
    transition: .7s;
}


.header_nav_items {
    display: flex;
    margin: 0;
    padding: 0;
}

.header_nav_items > li {
    margin-left: 50px;
    position: relative;
}

.header_nav_item {
    width: 7vw;
    height: 7vh;
    text-align: center;
    margin-top: 20%;
}

.header_nav_item > a {
    display: block;
    font-size: 2rem;
    background-color: #a5a5a5;
    width: 7vw;
    height: 7vh;
    line-height: 7vh;
    border-radius: 5px;
}

.header_nav_item > a:hover {
    background-color: rgb(97, 97, 97);
    transition: .7s;
}

.header_cp {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #554040;
    font-size: 2.5rem;
}

.header_cp > h1 {
    white-space: nowrap;
}






/*********************************************************
main 
 ******************************************************/


.main_content {
    padding: 25vh 0;
    position: relative;
    box-shadow: 1px 1px 5px 5px #f2f2f2 inset;
}

.main_content:nth-child(2) {
    background-color: #f4fff4;
}

.main_content > div {
    margin: 0 auto;
    /* text-align: center; */
    width: 80%;
    color: black;
}

.main_title {
    font-size: 3rem;
    text-align: center;
}

.main_intro {
    padding-top: 10%;
    font-size: 2rem;
    text-align: center;
}




/* about ******************************************************/

.about_container {
    text-align: center;
}

.about_container > p {
    width: 50%;
    margin: 10% auto 0;
    font-size: 2rem;
    line-height: 4rem;
    text-align: left;
    text-indent: 1rem;
}

.about_container > p > span {
    font-weight: bold;
    font-size: 2.5rem;
}



/* product *****************************************************/

.product_container {
    width: 100%;
}

.product_items {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 10vh;
    width: 100%;
    overflow: auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.2);
}

.product_item {
    margin: 10% auto 10%;
    padding: 7%;
    border-radius: 5px;
}

.product_item:hover {
    background-color: #cbffcb;
    transition: .7s;
}

.product_item > img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product_item_content {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 20px auto 0;
} 

.product_item_content > p {
    font-size: 1.5rem;
}



/* news ******************************************************************/



